.App1 {
  text-align: center;
  border-width: 150px;
  max-width: 50vh;
 
}
.App {
  text-align: center;
  border-width: 5px;

}
 

.App-logo {
  height: 10vmin;
  
}



body {
	background: url(images/background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 50vh;
}

.App-link {
  color: #e0f9f4;
}


.bg-white {
	background-image: rgb(184, 63, 63);
	opacity: 0.93;
	border-radius: 50px;
	border-color: #008000;
	border-style: solid;
	border-width: 5px;
  
 

}

.contactus {
	background-image: #fff;
	opacity: 0.93;
  max-height: 100vh;
  max-width: 70vh;
  padding: 1em;
  opacity: 0.93;

  background-image: rgb(184, 63, 63);
	opacity: 0.93;
	border-radius: 50px;
	border-color: #008000;
	border-style: solid;
	border-width: 5px;
}
.home {
	background-image: #fff;
	opacity: 0.93;
  max-height: 100vh;
  max-width: 100vh;
  padding: 2em;
}

li:hover {
  background-color: green;
  border-radius: 15px;
}


.Login {
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 1em;
  text-align: left;
  width: 10px;
}

.text{
  float: left;
  margin-left: 15px;
  margin-top: .5px;

}

.navbar-nav{


}
 
.form {
  padding: 1em;
}
 
label {
  font-weight: 600;
}